<h1>Editing Housing Detail Management</h1>

<%= render 'form', housing_detail_management: @housing_detail_management %>

<%= link_to 'Show', @housing_detail_management %> |
<%= link_to 'Back', housing_detail_managements_path %>
