<h1>New Housing Detail Management</h1>

<%= render 'form', housing_detail_management: @housing_detail_management %>
<%= link_to 'Housing Detail', housing_details_path %>
<%= link_to 'Back', housing_detail_managements_path %>
