<h1>Accommodation office for staffs</h1>
<ul>
  <li><%= link_to "List of users", administration_userlist_path %></li>
  <li><%= link_to "Statistics", administration_statistics_path %></li>

</ul>
<div id = staff>
<h4>Staffs</h4>
<ul>
  <li><%= link_to "Housing Detail Management", housing_detail_managements_path %></li>
  <li></li>
</ul>
</div>